<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Machine Learning For Bathymetry</title>
    <link href="../../static/styles.css" rel="stylesheet" />
    
    

    
  </head>
  <body>
    

    <div class = "container">

      <div class = "button-div">
      <button type="button" id="modelTrain">Train Model</button>
      <button type="button" id="dataclean">Data Cleaning</button>
      <button type="button" id="testData">Test Model</button>
      <button type="button" id="outputProfile">Create Bathymetry</button>
      </div>

      <div class = "div-1">
        <h1> Picture Perfect Ocean Floor Mapping: </h1>
        <h1>A Machine Learning Bathymetry Study</h1>
        
        <p>Welcome to our machine learning project!</p>
        <form method="POST", onsubmit="disableButton()">
          <button name="PythonGo", id="cleanButton" onclick="showDiv()"> <p>Clean Data!</p></button>
        </form>
      

       
        <img src="https://i.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp" alt="My GIF" style="display:none;" id="my-gif">
       
        
      

        {% if parseComplete %}
          <br>
          
          <img id="trigger-image" img src="../../static/my_plot.png" class = plotPicture alt="Trigger Image" onload="hideGif()">
        {% endif %}

      </div>
    </div>
   

  </body>
  <script>
   function hideGif() {
      const gifDiv = document.getElementById('my-gif');
      gifDiv.style.display = 'none';
    }


    function showDiv() {
      document.getElementById("my-gif").style.display = "block";
    }
  </script>
  <script src="../static/script2.js" defer>  </script>
</html>