<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Machine Learning For Bathymetry</title>
    <link href="../static/styles.css" rel="stylesheet" />
    
  </head>
  <body>

    <div class = "container">

      <div class = "button-div">
        <button type="button" id="modelTrain">Train Model</button>
        <button type="button" id="dataclean">Data Cleaning</button>
        <button type="button" id="testData">Test Model</button>
        <button type="button" id="outputProfile">Create Bathymetry</button>
      </div>

      <div class = outputDiv>
        <h1> Bathymetry Output </h1>
        <h1>A Machine Learning Bathymetry Study</h1>
        
        
        <img class= "outputs" src="../static/predictedPlot.png" alt="Ocean Floor Map">
      </div>
      
  
  
      
    </div>
    
  </body>
  <script src="../static/script2.js" defer>  </script>
</html>