<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Machine Learning For Bathymetry</title>
    <link href="../static/styles.css" rel="stylesheet" />
    
  </head>
  <body>
    <div class = "container">
      
      <div class = "button-div">
      <button type="button" id="modelTrain">Train Model</button>
      <button type="button" id="dataclean">Data Cleaning</button>
      <button type="button" id="testData">Test Model</button>
      <button type="button" id="outputProfile">Create Bathymetry</button>
      </div>

      <div class = testDiv>
        <h1> Testing Page </h1>
        
        <p>This is the page that will run the machine learning testing once it is done.</p>
      
        
        <form method="POST">
          <button name="loadAnimation"> <p>Run The Test</p></button>
        </form>
        {% if model_loading %}
        <img src={{a}} style="padding-top: 30px;" />
        {% endif %}
      </div>

    </div>



  </body>
  <script>
    function hideGif() {
       const gifDiv = document.getElementById('my-gif');
       gifDiv.style.display = 'none';
     }
 
 
     function showDiv() {
       document.getElementById("my-gif").style.display = "block";
     }
   </script>
  <script src="../static/script2.js" defer>  </script>
</html>